<h2 {% if site.style=='dark' %}class="text-white" {% endif %}>My research projects</h2>
<ul style="padding-left:20px" class="f4 mb-4 {% if site.style == 'dark' %}text-white{% else %}text-gray{% endif %}">
  <li>Real-time Multiple Object Tracking in multiple camera systems</li>
  <li>Scalable vehicle/person Re-Identification systems</li>
  <li>Out-of-Distribution and Distribution Shift problems in Machine Learning and Computer Vision (e.g. object detection,
  segmentation)</li>
  <li>Develop real-time Open-Vocabulary/ Zero/One/Few-shot Object Detection model (named YOLO-CLIP) based on vision-Language Pretrained models, e.g. <a href="https://openai.com/research/clip">CLIP (OpenAI)</a>, <a href="https://www.deepmind.com/blog/tackling-multiple-tasks-with-a-single-visual-language-model">Flamingo (Deepmind)</a>, <a href="https://www.microsoft.com/en-us/research/project/project-florence-vl/articles/object-detection-in-the-wild-via-grounded-language-image-pre-training/">GLIP (Microsoft)</a></li>
  <li>Object detecion and tracking in collaborative and distributed multiple camera systems <a href="./assets/thesis/phd_thesis.pdf">(My doctoral thesis)</a></li>

</ul>